* {
  margin:0;
  padding:0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  color: #555555;
  background-color: #E4E4E4;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
  text-align: center;
}
.langButton {
  border-radius: 3px;
}
.seccion{
  color: #555555;
  background-color: #E4E4E4;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.6em;
  text-align: center;
}
#head {
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 20px;
}
#foot {
  text-align: center;
  background-color: #f4f4f4;
  position: fixed;
  bottom: 0;
}
a {
  text-decoration: none;
  color:#000;
}

a:hover{
  color:green;
}

a:active{
  color:red;
}

a:visited{
  color:#000;
}

.formThTd {
  display:block;
}

.formThTd input[type="text"] {
  padding:8px;
  width:80%;
}
